/* designing with mobile first approach */

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Public Sans', sans-serif;
    overflow: hidden;
    background: hsl(0, 0%, 98%);
}
.logo {
  margin: 15px;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    width: 400px;
    height: 50px;
    z-index: 10;
    background: hsl(0, 0%, 98%);
}

.btn {
  margin: 15px;
}
.customLinks {
    border: 1px solid hsl(0, 0%, 98%);
    position: absolute; 
    margin-top: 70px;
    height: 250px;
    width: 300px;
    margin-left: 40px;
    border-radius: 4px;
    background-color: hsl(220, 16%, 96%);
    display: none;
    -webkit-animation: slide-in-top 0.7s both;
     animation: slide-in-top 0.7s both;
}
#closeicon {
    display: none;
}
.responsive {
    display: block;
}
.customLinks a {
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    color: hsl(233, 26%, 24%);
    display: block;
    text-align: center;

}
.btn a {
    font-size: 16px;
    text-decoration: none;
    color:  hsl(0, 0%, 100%);
    background-image: -webkit-linear-gradient(20deg, hsl(136, 65%, 51%) 10%, hsl(192, 70%, 51%)90%); ;
    border-radius: 20px;
    padding: 10px 20px;
    display: none;
}

.bg-img {
  position: relative;
}
.desktopimg {
  display: none; 
}
.image1 {
  position: relative;
  width: 400px;
  overflow: hidden;
}


.image2 {
  position: absolute;
  top: -80px;
  left: 15px;
  width: 350px;
  height: 450px;
}

.wrapper {
  text-align: center;
  margin-bottom: 100px;
  margin-top: -35px;
}
.wrapper h1 {
  color:hsl(233, 26%, 24%) ;
  font-size: 40px;
  font-weight: 400;
}
.wrapper h2 {
  font-size: 25px;
  color:hsl(233, 26%, 24%) ;
  font-weight: 400;
  margin: 5px 60px;
}
.wrapper p {
  color: hsl(233, 8%, 62%);
  margin-top: 10px;
  line-height: 25px;
}

.wrapper button {
  font-size: 16px;
  text-decoration: none;
  color:  hsl(0, 0%, 100%);
  background-image: -webkit-linear-gradient(20deg, hsl(136, 65%, 51%) 10%, hsl(192, 70%, 51%)90%); ;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
}
.section-one {
  background:   hsl(220, 16%, 96%);
}

.section-two h5:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.container-contents {
  text-align: center;
  margin-bottom: 20px;
}
.container-contents h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 20px 10px;
}

.container-contents p {
  color: hsl(233, 8%, 62%);
  font-size: 15px;
  margin: 1px 20px;
  line-height: 20px;
}

.articles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.section-two h2 {
  font-size: 25px;
  color:hsl(233, 26%, 24%) ;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.articles-content {
  margin: 10px 30px;
  border: 1px solid hsl(0, 0%, 100%) ;
  border-radius: 5px;
  background-color:hsl(0, 0%, 100%) ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.articles-content img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.articles-content span {
  font-size: 10px;
  color:hsl(233, 8%, 62%);
  margin-left: 20px;
  margin-top: 20px;
}
.articles-content h5 {
  color:hsl(233, 26%, 24%) ;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 400;
}
.articles-content p {
  font-size: 13px;
  color:hsl(233, 8%, 62%);
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-4-8 1:21:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
  }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
 
footer {
    background-color:hsl(233, 26%, 24%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
  
.footerLinks {
   display: flex;
   flex-direction: column; 
  
}
.footerLinks a {
   color:  hsl(0, 0%, 98%);
   text-decoration: none;
   font-size: 15px;
   padding: 8px;
   text-align: center;
}
.footerLinks a:hover {
  color:hsl(136, 65%, 51%) ;
}
.footerlogo {
    margin-top: 20px;
    margin-left: 35px;
}

.footericon {
   margin: 20px;
} 
.footericon img {
    padding: 6px;
}
.footericon img:hover {
  cursor: pointer;
  background:  hsl(136, 65%, 51%);
  
}
footer button {
    font-size: 14px;
    text-decoration: none;
    color:  hsl(0, 0%, 100%);
    background-image: -webkit-linear-gradient(20deg, hsl(136, 65%, 51%) 10%, hsl(192, 70%, 51%)90%); ;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    margin-left: 80px;
}
footer button:hover {
  filter: brightness(70%);
}
footer blockquote {
    color:hsl(233, 8%, 62%) ;
    margin:20px ;
    font-size: 15px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 1024px) {
  nav{
    height: 70px;
  }
  
  .customLinks {
    display: flex;
    position: relative;
    margin-top: 10px;
    height: auto;
    width: auto;
    animation: none;
    background-color: transparent;
  } 
  .customLinks a {
    color: hsl(233, 8%, 62%);
  }
  .customLinks a:hover {
    color: hsl(233, 26%, 24%);
  }
  .btn img {
    display: none;
  }
  .btn a {
    display: block;
    margin-right: 190px;
    margin-bottom: 0px;
  }
  .btn a:hover {
    filter: brightness(70%);
  }
  .logo {
    margin-left: 190px;
  }

  .img-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 750px;
    width: 100%;
    overflow: hidden;
  }
  .wrapper {
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 100px;
  }
  .wrapper h1 {
    font-size: 60px;
    margin: 0 100px;
    text-align: left;
  }
  .wrapper p {
    margin-top: 30px;
    margin-right: 180px;
    margin-left: 100px;
    text-align: left;
  }
  .wrapper button {
    margin-right: 350px;
  }
  .wrapper button:hover {
    filter: brightness(70%);
  }
  .bg-img {
    width: 550px;
  }
  .desktopimg {
    width: 900px;
    height: 750px;
    position: relative;
    display: block; 
    margin-top: -120px;
    margin-left: -200px;
  }
  .image1 {
   display: none;
  }
  .image2 {
    top: -40px;
    width: 655px;
    height: auto;
    left: -40px;
  }
  .sub-content {
    margin-top: -100px;
    padding-top: 40px;
    text-align: left;
    margin-right: 550px;
  }
  .wrapper h2 {
    font-size: 30px;
    margin-left: 95px;
  }
  .sub-content p {
   margin-top: 10px;
  }
  .container {
    flex-direction: row;
    margin: 10px 160px;
  }
  .container-contents {
    text-align: left;

  }
  .container-contents img {
    margin-left: 20px;
  }
  .container-contents h2 {
    margin-left: 20px;
  }
  .container-contents p {
    font-size: 15px;
  
    padding-right: 57px;
    width: 100%;

  }
  .section-two h2 {
    margin-top: 50px;
    text-align: left;
    margin-left: 180px;
  }
  .articles { 
    flex-direction: row;
    margin: 10px 150px;
  }
  .articles-content span {
    margin-top: 20px;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
  }
  .footerlogo {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
 .footericon {
  margin-left: 80px;
 }
 .footerLinks a {
  text-align: left;
 }
 .copyright {
  margin-right: 180px;
 }
}